---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC03fa7e3303f5991b0851910ef9f5ae63/Messages.json
    body:
      encoding: UTF-8
      string: Body=Hello+world&From=%2B18325323851&To=9168992758
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwM2ZhN2UzMzAzZjU5OTFiMDg1MTkxMGVmOWY1YWU2Mzo0MTM1NmQxMDI0ZTQwMjY4MmM1MzFiNWYyYmExMzY0OQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ6d47ac1077a5c8ed7e2b1f7b0fd7f39b
      Twilio-Request-Duration:
      - '0.118'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMd6fe52e5f2f947d39867fe1d1eb18cb5", "date_created": "Mon,
        21 Jun 2021 20:10:12 +0000", "date_updated": "Mon, 21 Jun 2021 20:10:12 +0000",
        "date_sent": null, "account_sid": "AC03fa7e3303f5991b0851910ef9f5ae63", "to":
        "+19168992758", "from": "+18325323851", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Hello world", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC03fa7e3303f5991b0851910ef9f5ae63/Messages/SMd6fe52e5f2f947d39867fe1d1eb18cb5.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC03fa7e3303f5991b0851910ef9f5ae63/Messages/SMd6fe52e5f2f947d39867fe1d1eb18cb5/Media.json"}}'
  recorded_at: Mon, 21 Jun 2021 20:10:12 GMT
recorded_with: VCR 4.0.0
